h1{
    text-align: center;
}

.collection{
    font-size: 20px;
}

.badge{

}


input[type="text"]{
    text-align: center;
}

.badge:hover{
    background-color: red;
    color:white;
}

#devoured-burgers{
    color: darkgray;
}
